install
#text
vnc
#network  --onboot yes --device em1 --bootproto dhcp
firstboot --disable
# centos 6.3?
#url --url http://www.gtlib.gatech.edu/pub/centos/6.3/os/x86_64/
url --url http://<%= scope.lookupvar('tfound::puppetmasterip') %>/yum/centos6.2/x86_64/
lang en_US.UTF-8
keyboard us
zerombr
clearpart --all --initlabel

# old skool way
#part / --fstype=ext3 --size=10240
#part /var --fstype=ext3 --size=100 --grow
#part /boot --fstype=ext3 --size=1024
#part swap --size=2048

# new skool way with lvm
part /boot --fstype ext3 --size=150
part swap --size=2048
part pv.01 --size=1 --grow

#volgroup cinder-volumes pv.01
#logvol  /  --vgname=cinder-volumes  --size=8192  --name=lv_root
#logvol  /tmp  --vgname=cinder-volumes  --size=2048  --name=lv_tmp
#logvol  /var  --vgname=cinder-volumes  --size=1  --grow  --name=lv_var

volgroup vg_root pv.01
logvol  /  --vgname=vg_root  --size=8192  --name=lv_root
logvol  /tmp  --vgname=vg_root  --size=2048  --name=lv_tmp
logvol  /var  --vgname=vg_root  --size=184320  --name=lv_var

bootloader --location mbr
timezone --utc America/New_York
authconfig --enableshadow --passalgo=sha512
rootpw  --iscrypted $6$TqpOyqlh$Swc8LugL61Gtc9SYcMtn3tv2HldyNk.0KbqdMRAaUOvVaPfpaPTG0xyR9hL9ipBCY.6WmATMtv6iUibyUOrMQ/
selinux --permissive
firewall --disabled
key --skip
services --disabled acpid,anacron,apmd,atd,autofs,avahi-daemon,bluetooth,cpuspeed,cups,firstboot,gpm,haldaemon,hidd,kudzu,lvm2-monitor,messagebus,netfs,nfslock,pcscd,portmap,rhnsd,rpcgssd,rpcidmapd,xfs,NetworkManager,mdmonitor,iptables,ip6tables,auditd

repo --name="Georgia Tech Centos 6.2 64bit" --baseurl=http://www.gtlib.gatech.edu/pub/centos/6/os/x86_64/
repo --name="EPEL 64bit" --baseurl=http://download.fedoraproject.org/pub/epel/6/x86_64/

%packages 
@core
@mysql
@core
@base
#@java
@web-server
nfs-utils
pam_ldap
dialog
dnsmasq-utils
net-snmp
net-snmp-utils
net-snmp-devel
yum-utils
redhat-lsb
git
openstack-utils
qpid-cpp-server
avahi
mc
vim-enhanced
euca2ools
%end

# fix networking for dhcp boot
%post --nochroot
cp /etc/resolv.conf /mnt/sysimage/etc/resolv.conf
%end

%post
exec < /dev/tty3 > /dev/tty3
chvt 3
function postconfig()
{
	date | /usr/bin/tee /var/log/post_install.log
	echo " * saving to /tmp/init.sh and running post init script ... " | /usr/bin/tee /var/log/post_install.log
	wget -O/tmp/init.sh http://<%= scope.lookupvar('tfound::puppetmasterip') %>/ksfiles/init.sh
	wget -O/tmp/compute1-ans-file.txt http://<%= scope.lookupvar('tfound::puppetmasterip') %>/ksfiles/compute1-ans-file.txt
	source /tmp/init.sh
	echo " * I am going to run puppet twice, make sure the cert is available on the server by running 'puppet cert clean $(hostname --fqdn)' on the puppetmaster "
	#read -p  " * Hit enter when ready "
	cd /root/
	./puppetup.sh
	./puppetup.sh
	#rm -f /tmp/init.sh
	chkconfig messagebus on
	echo " * getting packstack ..."
	mkdir -p /root/packstack 
	cd /root/packstack
	wget http://<%= scope.lookupvar('tfound::puppetmasterip') %>/ksfiles/root-compute1.tgz 
	#git clone --recursive git://github.com/fedora-openstack/packstack.git
	tar zxf root-compute1.tgz
	#cp -f /root/packstack/etc/sysconfig/network-scripts/ifcfg-eth1 /etc/sysconfig/network-scripts/
	cp -f /root/packstack/root/init-openstack.sh /root/
	cp -f /root/packstack/root/centos6-64.tdl /root/
	#ifup eth1
	#cd /root/packstack/root/packstack
        #/etc/init.d/sshd start
	#/root/packstack/root/packstack/bin/packstack --answer-file=/tmp/compute1-ans-file.txt
	#cp -f /etc/nova/nova.conf /etc/nova/conf.default
	#cp -f /root/packstack/etc/nova/nova.conf /etc/nova/nova.conf
	#./bin/packstack --answer-file=compute1-ans-file.txt

}


echo
echo ' * Running post config script'
postconfig | /usr/bin/tee /var/log/post_install.log
chvt 1
